.main-header {
  width: 100%;
  height: 4.375rem;
  display: flex;
  align-items: center;
  position: fixed;
  background: #18b4f6;
  color: white;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  z-index: 10;
}

.main-navigation__menu-btn {
  background: transparent;
  width: 3rem;
  height: 3rem;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: #18b4f6;
}

/* .main-navigation__title {
  color: white;
} */

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__nav-link {
  display: block;
}
.nav-links {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-links li {
  margin: 1rem;
}
.nav-links a {
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 20px;
}

@media (max-width: 768px) {
  .main-header {
    background: white;

    border-bottom: solid 1px #18b4f6;
    padding: 0 0rem;
  }
  .main-navigation__title a {
    color: #18b4f6;
  }
  .main-navigation__menu-btn {
    display: flex;
  }
  .main-navigation__nav-link {
    width: 3rem;
    opacity: 0;
  }
}
