.logoutbtn.active:hover {
  border-bottom: 1px solid white;
}
.otherbtn:hover {
  border-bottom: 1px solid white;
}
.otherbtn.active {
  border-bottom: 1px solid white;
}
.otherbtn:active {
  border-bottom: 1px solid white;
}
