.logoutbtn.active:hover {
  border-bottom: 1px solid white;
}
.otherbtn:hover {
  border-bottom: 1px solid white;
}
.otherbtn.active {
  /* color: #0e9af1;
    background: white; */
  border-bottom: 1px solid white;
}
.otherbtn:active {
  /* color: #0e9af1;
    background: white; */
  border-bottom: 1px solid white;
}
